<div id="modal" ng-show="show">
  <div id="enter-pick" class="enter-springfield">
    <div class="with-the"></div>
    <div class="xx-pick"><canvas id="cvsPick" width="474" height="66"></canvas></div>
    <div class="dffl-draft"></div>
    <div class="team-banner"></div>
    <div class="player-selection"><canvas id="cvsPlayer" width="474" height="120"></canvas></div>
    <div class="stars"></div>
    <ul class="actions">
      <li><a href="#">SAVE</a></li>
      <li><a href="#">EDIT</a></li>
      <li><a href="#" ng-click="close()">CANCEL</a></li>
    </ul>
  </div>
</div>
