<div id="modal" ng-show="show">
  <div id="enter-pick" class="enter-{{pick.team.slug}}">
    <div class="with-the"></div>
    <div class="xx-pick"><canvas id="cvsPick" width="474" height="66"></canvas></div>
    <div class="dffl-draft"></div>
    <div class="team-banner gotham-city"></div>
    <div ng-show="pick.player && !editing" class="player-selection"><canvas id="cvsPlayer" width="474" height="160"></canvas></div>
    <div ng-show="!pick.player || editing" class="player-selection">
      <angucomplete placeholder="Search Players"
        pause="100"
        selectedobject="pick.newPlayer"
        localdata="players"
        searchfields="display"
        titlefield="display"></angucomplete>
    </div>
    <div class="stars"></div>
    <ul ng-if="!pick.player" class="actions">
      <li><a href="#" ng-click="save(pick.newPlayer)">SAVE</a></li>
      <li><a href="#" ng-click="close()">CANCEL</a></li>
    </ul>
    <ul ng-if="pick.player && !editing" class="actions">
      <li><a href="#" ng-click="edit()">EDIT</a></li>
      <li><a href="#" ng-click="close()">CANCEL</a></li>
    </ul>
    <ul ng-if="editing" class="actions">
      <li><a href="#" ng-click="save(pick.newPlayer)">SAVE</a></li>
      <li><a href="#" ng-click="cancelEdit()">CANCEL</a></li>
    </ul>
  </div>
</div>
