<div id="header">
  <div class="nav last">
    <a class="arrow" href="#" ng-click="draft.prevRound()" ng-show="draft.prev.round > 0">&laquo;</a>
    <span class="" ng-show="draft.prev.round > 0">Round {{draft.prev.round}}</span>&nbsp;
  </div>
  <div class="nav home">
    <span>DFFL DRAFT</span>
    <div class="logo"><a href="#" ng-click="$root.showMenu=true"></a></div>
    <span>Round {{draft.current.round}}</span>
  </div>
  <div class="nav next" ng-show="draft.next.round <= draft.totalRounds">
    <a class="arrow" href="#" ng-click="draft.nextRound()">&raquo;</a>
    <span>Round {{draft.next.round}}</span>
  </div>
</div>
<div id="draft-board">
  <div class="round side previous"
    picks-list picks="draft.prev.picks"
    current-pick="draft.currentPick.number"
    show-pick="draft.showPick(pick)"></div>
  <div class="round current"
    picks-list picks="draft.current.picks"
    current-pick="draft.currentPick.number"
    show-pick="draft.showPick(pick)"></div>
  <div class="round side upcoming"
    picks-list picks="draft.next.picks"
    current-pick="draft.currentPick.number"
    show-pick="draft.showPick(pick)"></div>
</div>
<pick show="draft.pickShowing" pick="draft.selectedPick" players="draft.players" set-player="draft.setPlayer" />
