<div id="header">
  <div class="nav home">
    <span>DFFL DRAFT</span>
    <span>EDIT PICKS</span>
  </div>
</div>
<div id="draft-board">
  <div class="round current">
    <table id="edit-draft">
      <thead>
        <tr>
          <td>Round</td>
          <td>Pick</td>
          <td>Team</td>
          <td colspan="2">Player</td>
          <td>Keeper</td>
          <td>Trade</td>
          <td>Note</td>
          <td>Time</td>
          <td></td>
        </tr>
      </thead>
      <tbody ng-repeat="pick in ctrl.picks">
        <tr ng-if="pick.id != editing">
          <td>{{ pick.number | round }}</td>
          <td>{{pick.number}}</td>
          <td>{{pick.team.name}}</td>
          <td colspan="2">{{pick.player | playerName}}</td>
          <td>{{pick.keeper | yesno}}</td>
          <td>{{pick.trade | yesno}}</td>
          <td>{{pick.note}}</td>
          <td>{{pick.timeTaken}}</td>
          <td><button ng-click="ctrl.editPick(pick)">Edit</button></td>
        </tr>
        <tr ng-if="pick.id == editing">
          <td>{{ pick.number | round }}</td>
          <td>{{pick.number}}</td>
          <td><select ng-model="pick.teamId" ng-options="t.id as t.name for t in ctrl.teams"></select></td>
          <td><angucomplete placeholder="Search Players"
                pause="100"
                selectedobject="pick.newPlayer"
                localdata="ctrl.players"
                searchfields="display"
                titlefield="display"></angucomplete></td>
          <td><button ng-click="ctrl.clearPlayer(pick)">clear</button></td>
          <td><input type="checkbox" value="Keeper" ng-model="pick.keeper"></td>
          <td><input type="checkbox" value="Trade" ng-model="pick.trade"></td>
          <td><input type="text" name="note" ng-model="pick.note"></td>
          <td><input type="text" name="timeTaken" ng-model="pick.timeTaken"></td>
          <td>
            <button ng-click="ctrl.savePick(pick)">Save</button>
            <button ng-click="ctrl.cancelEdit()">Cancel</button>
          </td>
        </tr>
        <tr class="round-break" ng-if="pick.number % 10 == 0">
          <td colspan="9"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
