<div id="header">
  <div class="nav home">
    <span>DFFL DRAFT</span>
    <span>EDIT PLAYERS</span>
  </div>
</div>
<div id="draft-board">
  <div>
    <table id="edit-players">
      <thead>
        <tr>
          <td ng-click="orderField = 'position'; rev = !rev">Position</td>
          <td ng-click="orderField = 'firstname'; rev = !rev">First Name</td>
          <td ng-click="orderField = 'lastname'; rev = !rev">Last Name</td>
          <td ng-click="orderField = 'team'; rev = !rev">NFL Team</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><select ng-model="newPlayer.position" ng-options="o as o for o in ctrl.positions"></select></td>
          <td><input type="text" ng-model="newPlayer.firstname"></td>
          <td><input type="text" ng-model="newPlayer.lastname"></td>
          <td><select ng-model="newPlayer.team" ng-options="t as t for t in ctrl.nflTeams"></select></td>
          <td>
            <button ng-click="ctrl.savePlayer(newPlayer)">save</button>
            <button ng-click="ctrl.clearPlayer(newPlayer)">cancel</button>
          </td>
        </tr>
      </tbody>
      <tbody ng-repeat="player in ctrl.players | orderBy: orderField: rev">
        <tr ng-if="editing == player.id">
          <td><select ng-model="player.update.position" ng-options="o as o for o in ctrl.positions"></select></td>
          <td><input type="text" ng-model="player.update.firstname"></td>
          <td><input type="text" ng-model="player.update.lastname"></td>
          <td><select ng-model="player.update.team" ng-options="t as t for t in ctrl.nflTeams"></select></td>
          <td>
            <button ng-click="ctrl.savePlayer(player.update, player)">save</button>
            <button ng-click="ctrl.cancelEdit()">cancel</button>
          </td>
        </tr>
        <tr ng-if="editing != player.id">
          <td>{{player.position}}</td>
          <td>{{player.firstname}}</td>
          <td>{{player.lastname}}</td>
          <td>{{player.team}}</td>
          <td>
            <button ng-click="ctrl.editPlayer(player)">edit</button>
            <button ng-click="ctrl.deletePlayer(player, $index)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
