<div id="modal" ng-show="showMenu">
  <div id="menu">
    <div style="background: url('/-img/logo-dffl.png') 50% no-repeat; width: 83px; height: 99px; margin: 0 auto 20px; "></div>
    <ul>
      <li>DRAFT</li>
      <li><a href="/" ng-click="close()">HOME</a></li>
      <li><a href="/draft/defense" ng-click="close()">DEFENSE</a></li>
      <li><a href="/draft/offense" ng-click="close()">OFFENSE</a></li>
    </ul>
    <ul>
      <li>EDIT</li>
      <li><a href="/edit/players" ng-click="close()">PLAYER LIST</a></li>
      <li><a href="/edit/defense" ng-click="close()">DEFENSIVE DRAFT</a></li>
      <li><a href="/edit/offense" ng-click="close()">OFFENSIVE DRAFT</a></li>
    </ul>
    <div class="options"><a href="#" ng-click="close()">CLOSE</a></div>
  </div>
</div>
